/* Default */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik Mono One', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: black;
}

/* All box */
.box{
    height: 100%;
}

.first{
    background-color: red;
    position: relative;
}

.second{
    background-color: green;
    position: relative;
}

.third{
    background-color: yellow;
    position: relative;
}
/* Image box */

.first.box img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 20px;
}

.second.box img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.third.box img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.third.box h1{
    color: green;
}

.description{
    width: 100%;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: yellow;
    text-transform: uppercase;
    text-align: center;
    padding: 0 20px;
}

/* Nav */
nav{
    position: fixed;
    top: 0;
    right: 2%;
    z-index: 1;
    text-align: right;
    margin-top: 10px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    border-radius: 50%;
    background-color: #fff;
    padding: 20px 0;
}

nav ul li a{
    text-decoration: none;
    padding: 20px;
    color: black;
}

nav ul li a:hover{
    background-color: aqua;
    border-radius: 50%;
}