/* Default */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: black;
}

/* All box */
.box{
    height: 100%;
}

.first{
    background-color: red;
    position: relative;
}

.second{
    background-color: green;
    position: relative;
}

.third{
    background-color: yellow;
    position: relative;
}
/* Image box */

.first.box img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 20px;
}

.second.box img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.third.box img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.third.box h1{
    color: green;
}

.description{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: yellow;
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;
}

/* Nav */

nav ul li{
    position: fixed;
    color: white;
    font-size: 30px;
    z-index: 1;
    display: inline-block;
}

